h1{
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
}

p{
  margin: 1rem auto; 
  text-align: center;
}

.survey{
  background-color: #1b1b32;
  color: white;
  width: 100%;
  height: 240vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
	max-width: 650px;
}

label{
	display: block;
	margin: 0.5rem 0
}

body{
	width: 100%;
  height: 100vh;
  margin: 0;
  background-color: blue;
  background-image:url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  color: #f5f6f7;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

form{
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
  width: 100vw
}

fieldset{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  border: 0;
}

.inline{
  width: unset;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}

input, select{
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2em;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

textarea{
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 9em;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

input[id="name"], input[id="email"], input[id="number"]{
  min-height: 3em;
}

select[id="dropdown"], select[id="favorite"]{
  min-height: 3em;
}

input[type="submit"]{
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #37af65;
  font-size: 16px;
  height: 3em;
  border-color: 0;
  color: white;
}

.container{
  background-color: rgba(40,40,255,50%);
}

input[type="checkbox"] {
    border: 0px;
    width: 3%;
    height: 2em;
}

input[type="radio"] {
    border: 0px;
    width: 3%;
    height: 2em;
}
